-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
- content_for :jsHead do
  = javascript_include_tag("search.js")

%h1 Verfiers Page
.container-fluid
  .row
    .col-md-12
      .panel.panel-success
        .panel-heading
          Search
          %span{class: "glyphicon glyphicon-search"}
        .panel-body
          .input-group
            %input.form-control{:type => "text", id: "search-in"}/
            .input-group-btn
              %input.btn.btn-success{:tabindex => "-1", :type => "submit", id: "search-btn", value: "Search"}

  .row
    .col-md-6
      .panel.panel-danger
        .panel-heading
          Candidate Details
        .panel-body#search-details
    .col-md-6
      .panel.panel-info
        .panel-heading
          Candidate List
        .panel-body
          = will_paginate @users, class: "pagination"
          .table-responsive
            %table.table.table-hover
              %tr
                %th User ID
                %th Email
                %th First Name
              - @users.each do |user|
                %tr
                  %td
                    = user.id
                  %td
                    = user.email
                  %td
                    = user.personal.first_name if user.personal
          = will_paginate @users
