-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
-if @user
  .table-responsive
    %table.table.table-hover
      %tr
        %td.warning{colspan: "2"} Personal Details
      %tr
        %td.info User ID
        %td
          = @user.id
      %tr
        %td.info Email
        %td
          = @user.email

      - if @user.try(:personal)
        %tr
          %td.info Photo
          %td
            = image_tag(@user.personal.photo_url, width: "80", height: "80", alt: "Image")
        %tr
          %td.info First name
          %td
            = @user.personal.first_name
        %tr
          %td.info Last name
          %td
            = @user.personal.last_name
        %tr
          %td.info Date of Birth
          %td
            = @user.personal.date_of_birth
        %tr
          %td.info Mother's Name
          %td
            = @user.personal.mothers_name
        %tr
          %td.info Father's name
          %td
            = @user.personal.fathers_name
        %tr
          %td.info Gender
          %td
            = @user.personal.gender
        %tr
          %td.info Category
          %td
            = @user.personal.category
        %tr
          %td.info Address line 1
          %td
            = @user.personal.address.address_line1
        %tr
          %td.info Address line 2
          %td
            = @user.personal.address.address_line2
        %tr
          %td.info Town/Village
          %td
            = @user.personal.address.town_vill
        %tr
          %td.info District
          %td
            = @user.personal.address.district
        %tr
          %td.info State
          %td
            = @user.personal.address.state
        %tr
          %td.info Pin
          %td
            = @user.personal.address.pin
        %tr
          %td.info Mobile
          %td
            = @user.personal.mobile_no

      - if @user.try(:academic)
        %tr
          %td.warning{colspan: "2"} Academic Details
        %tr
          %td.info Tenth Roll no.
          %td
            = @user.academic.tenth_rollno
        %tr
          %td.info Tenth Marks
          %td
            = @user.academic.tenth_marks
        %tr
          %td.info Tenth Board
          %td
            = @user.academic.tenth_board
        %tr
          %td.info Tenth Year
          %td
            = @user.academic.tenth_year
        %tr
          %td.info Twelfth Roll no.
          %td
            = @user.academic.twelfth_rollno
        %tr
          %td.info Twelfth Marks
          %td
            = @user.academic.twelfth_marks
        %tr
          %td.info Twelfth Board
          %td
            = @user.academic.twelfth_board
        %tr
          %td.info Twelfth Year
          %td
            = @user.academic.twelfth_year
      - if @user.academic.try(:subject_entries)
        %tr
          %td.warning{colspan: "2"} 12th Subject Details
        - @user.academic.subject_entries.each do |se|
          %tr
            %td.info
              = Subject.find(se.subject_id).name
            %td
              = se.marks
  #verification-status
    - if @user.stream_selector && @user.stream_selector.verified === false
      %form
        %input{type: "hidden",value: "#{@user.id}", id: "user-id"}
        %input{type: "button", class: "btn btn-warning", id: "verify-btn", value: "Verify"}
    - elsif @user.stream_selector && @user.stream_selector.verified === true
      %div.btn.btn-success.disabled
        Verfied
    - else
      .btn.btn-danger
        Information insufficient
= javascript_include_tag("verify.js")
