-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
- provide(:title, "New Academic")
.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .panel.panel-primary
      .panel-heading
        Fill up your academic Details
      .panel-body
        = form_for @academic, role: "form" do |f|
          - if @academic.errors.any?
            #error_explanation
              %h2
                = pluralize(@academic.errors.count, "error")
                prohibited this candidate from being saved:
              %ul
                - @academic.errors.full_messages.each do |message|
                  %li= message
          %p
            = f.label "10th Marks Percent"
            %br/
            = f.text_field :tenth_marks, class: "form-control", :required => true
          %p
            = f.label "10th Roll Number"
            %br/
            = f.number_field :tenth_rollno, class: "form-control", :required => true
          %p
            = f.label "10th year of passing"
            %br/
            = f.number_field :tenth_year, class: "form-control", :required => true
          %p
            = f.label "10th board"
            %br/
            = f.text_field :tenth_board, class: "form-control", :required => true
          %p
            = f.label "12th Marks Percent"
            %br/
            = f.text_field :twelfth_marks, class: "form-control", :required => true
          %p
            = f.label "12th Roll Number"
            %br/
            = f.number_field :twelfth_rollno, class: "form-control", :required => true
          %p
            = f.label "12th year of passing"
            %br/
            = f.number_field :twelfth_year, class: "form-control", :required => true
          %p
            = f.label "12th board"
            %br/
            = f.text_field :twelfth_board, class: "form-control", :required => true
          %p
            = f.label "12th stream"
            %br/
            = f.text_field :twelfth_stream, class: "form-control", :required => true
          %div
            = f.label "Subjects"
            = f.fields_for :subject_entries do |se|
              %p
                = se.select(:subject_id, Subject.all.collect {|c| [c.name, c.id]}, {}, {:class => "form-control input-width-50", :required => true})
                = se.number_field :marks, placeholder: "Marks", class: "form-control input-width-50", :required => true


          %p= f.submit "Submit", class: "btn btn-primary btn-lg", data: {confirm: "Are you sure information once submitted cant be modified ?"}
