.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .panel.panel-primary
      .panel-heading
        Streams Editor
      .panel-body
        = form_for (@stream), role: "form" do |f|
          - if @stream.errors.any?
            #error_explanation
              %h2
                = pluralize(@stream.errors.count, "error")
                prohibited this stream from being saved
              %ul
                - @stream.errors.full_messages.each do |message|
                  %li= message
          %p
            = f.label "Stream Name"
            %br/
            = f.text_field :name, class: "form-control", :required => true
          %p
            = f.label "GEN required marks"
            %br/
            = f.number_field :GEN, class: "form-control", :required => true
          %p
            = f.label "SC required marks"
            %br/
            = f.number_field :SC,  class: "form-control", :required => true
          %p
            = f.label "ST required marks"
            %br/
            = f.number_field :ST, class: "form-control", :required => true
          %p
            = f.label "OBC_A required marks"
            %br/
            = f.number_field :OBC_A, class: "form-control", :required => true
          %p
            = f.label "OBC_B required marks"
            %br/
            = f.number_field :OBC_B, class: "form-control", :required => true

          %p
            = f.submit
