.row
  .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .panel.panel-primary
      .panel-heading
        All Subjects
        = link_to "New Stream", new_stream_path, class: "btn btn-sm btn-warning"
      .panel-body
        %table.table
          %thead
            %tr
              %td id
              %td Stream
              %td Gen
              %td SC
              %td ST
              %td OBC-A
              %td OBC-B
              %td{colspan: 2} Actions
          %tbody
            - @streams.each do |stream|
              %tr
                %td #{stream.id}
                %td #{stream.name}
                %td #{stream.GEN}
                %td #{stream.SC}
                %td #{stream.ST}
                %td #{stream.OBC_A}
                %td #{stream.OBC_B}
                %td
                  = link_to :edit, edit_stream_path(stream), class: "btn btn-primary btn-sm"
                %td
                  = link_to :delete, stream, method: :delete,data: {confirm: "Are you sure to delete"}, class: "btn btn-danger btn-sm"
