%h1
  = @stream.name
.panel.panel-info
  .panel-heading
    General Result
  .panel-body
    .table-responsive
      %table.table-hover.table-custom
        %tr
          %th Rank
          %th Email
        - @gens.each_with_index do |row, index|
          %tr
            %td
              = index + 1
            %td
              = User.find(row["user_id"]).email
.panel.panel-info
  .panel-heading
    Schedule caste Result
  .panel-body
    .table-responsive
      %table.table-hover.table-custom
        %tr
          %th Rank
          %th Email
        - @scs.each_with_index do |row, index|
          %tr
            %td
              = index + 1
            %td
              = User.find(row["user_id"]).email
.panel.panel-info
  .panel-heading
    Schedule Tribe Result
  .panel-body
    .table-responsive
      %table.table-hover.table-custom
        %tr
          %th Rank
          %th Email
        - @sts.each_with_index do |row, index|
          %tr
            %td
              = index + 1
            %td
              = User.find(row["user_id"]).email
.panel.panel-info
  .panel-heading
    Other Backward Caste 'A' Result
  .panel-body
    .table-responsive
      %table.table-hover.table-custom
        %tr
          %th Rank
          %th Email
        - @obcas.each_with_index do |row, index|
          %tr
            %td
              = index + 1
            %td
              = row["user_id"]
.panel.panel-info
  .panel-heading
    Other Backward Caste 'B' Result
  .panel-body
    .table-responsive
      %table.table-hover.table-custom
        %tr
          %th Rank
          %th Email
        - @obcbs.each_with_index do |row, index|
          %tr
            %td
              = index + 1
            %td
              = User.find(row["user_id"]).email
