- provide(:title, "New Personal")
.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .panel.panel-primary
      .panel-heading
        Fill up your personal Details
      .panel-body
        = form_for @personal, role: "form" do |f|
          - if @personal.errors.any?
            #error_explanation
              %h2
                = pluralize(@personal.errors.count, "error")
                prohibited this candidate from being saved:
              %ul
                - @personal.errors.full_messages.each do |message|
                  %li= message
          %p
            = f.label :first_name
            %br/
            = f.text_field :first_name, class: "form-control", :required => true
          %p
            = f.label :last_name
            %br/
            = f.text_field :last_name, class: "form-control", :required => true
          %p
            = f.label :gender
            %br/
            = f.select :gender, options_for_select(%w[M F O]), class: "form-control dropdown", :required => true
          %p
            = f.label :date_of_birth, "Date of Birth"
            %br/
            = f.date_select :date_of_birth, start_year: 1985, end_year: 1999, class: "form-control dropdown", :required => true
          %p
            = f.label :fathers_name
            %br/
            = f.text_field :fathers_name, class: "form-control", :required => true
          %p
            = f.label :mothers_name
            %br/
            = f.text_field :mothers_name, class: "form-control", :required => true
          %p
            = f.label :category
            = f.select :category, options_for_select(%w[GEN SC ST OBC_A OBC_B]), class: "form-control dropdown", :required => true
          %p
            = f.label "Address"
            = text_area :personal, :address, size: "2x2", class: "form-control", :required => true
          %p
            = f.label  "Mobile"
            = f.number_field :mobile_no,pattern: "/[7-9]{1}[0-9]{9}/", class: "form-control", :required => true
          %p= f.submit "Submit", class: "btn btn-primary btn-lg", data: {confirm: "Are you sure information once submitted cant be modified ?"}
