-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
    .panel.panel-primary
      .panel-heading
        Add Subjects to be Filtered
      .panel-body
        = form_for (@sub_str_map), role: "form" do |f|
          - if @sub_str_map.errors.any?
            #error_explanation
              %h2
                = pluralize(@sub_str_map.errors.count, "error")
                prohibited this stream from being saved
              %ul
                - @sub_str_map.errors.full_messages.each do |message|
                  %li= message
          %p
            = f.label "Stream Name"
            %br/
            = select("sub_str_map", "stream_id", Stream.all.collect {|c| [c.name, c.id]}, class: "form-control", :required => true)
          %p
            = f.label "Subject Name"
            %br/
            = select("sub_str_map", "subject_id", Subject.all.collect {|c| [c.name, c.id]}, class: "form-control", :required => true)
          %p
            = f.label "GEN required marks"
            %br/
            = f.number_field :GEN,  class: "form-control", :required => true

          %p
            = f.label "SC required marks"
            %br/
            = f.number_field :SC,  class: "form-control", :required => true
          %p
            = f.label "ST required marks"
            %br/
            = f.number_field :ST, class: "form-control", :required => true
          %p
            = f.label "OBC_A required marks"
            %br/
            = f.number_field :OBC_A, class: "form-control", :required => true
          %p
            = f.label "OBC_B required marks"
            %br/
            = f.number_field :OBC_B, class: "form-control", :required => true

          %p
            = f.submit
