-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{charset: "utf-8"}
    %title #{full_title(yield(:title))}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/htmlshim'
  %body
    = render 'layouts/navbar'
    = render 'layouts/flash'
    .body.container-fluid
      = yield
    = render 'layouts/footer'
